.m-none {
	margin: 0 !important;
}

.active {
	color: #fff;
	background-color: rgb(3 105 161);
}

.theme-background {
	background-image: url("./assets/flex-ui-assets/elements/pattern-white.svg");
	background-position: center;
}