.m-none {
	margin: 0 !important;
}

.active {
	color: #fff;
	background-color: rgb(3 105 161);
}

.theme-background {
	background-image: url("./assets/flex-ui-assets/elements/pattern-white.svg");
	background-position: center;
}

.tab-active{
	color: rgb(245 158 11) !important;
	background-color: rgb(253 231 194);
}
.tab2-active{
	color: rgb(245 158 11) !important;
	border-bottom: 2px solid rgb(245, 158, 11);
    padding-bottom: 16px;
}